[2015-04-11 20:39] stefanpenner opened #1 "tests"

[2015-04-11 20:39] stefanpenner opened #2 "readme"

[2015-04-11 20:39] stefanpenner opened #3 "helpers / docs for safe & stable build."
- [ ] readme
- [x] inline docs

[2015-08-22 15:20] #1 closed

[2015-08-22 15:20] #2 closed

[2015-08-22 15:20] #3 closed

[2015-08-24 14:07] rwjblue opened #19 "Allow tree to implement custom `cacheKey`"
I could be wrong (close if I am), but it seems like the individual tree can no longer specify its own `cacheKey`. Instead it always calls `hashForDep(ctx.baseDir())` ([here](https://github.com/stefanpenner/broccoli-persistent-filter/blob/18134ff395eaca3af9b4ff0caacc81c2a02d832f/lib/strategies/persistent.js#L21-L23)), but sometimes you need to make a custom `cacheKey` that is not related to `packag

[2015-08-24 14:49] stefanpenner commented on #19
Ya we should restore a hook on the plugin itself

[2015-08-24 15:10] #19 closed

[2015-08-26 06:00] stefanpenner opened #22 "persistent restore, always re-writes itself..."
This is slow.

[2015-08-26 13:34] kellyselden commented on #22
That sounds like a challenge! :smile:

[2015-08-26 13:57] rwjblue opened #23 "Add mechanism to clear persistent cache."
It would be nice to have an environment variable that can be used to blow all the caches and force a fresh full build. Because async-disk-cache doesn't nest under a single base dir in the `os.tmpDir()` (I plan to submit a PR over there to do this), we cannot simply do `rm -rf /tmp/some/path/here` (even if we knew the path).

I would like to do something like:

[code]

And have that do something li

[2015-08-26 14:02] stefanpenner commented on #23
Yup. But make sure it saves state, so it only clears once per run

[2015-08-26 14:03] rwjblue commented on #23
@stefanpenner - Confirm, it would have to set a flag so that it only does it one time (for each instance of `broccoli-persistent-filter`).

[2015-08-26 14:03] stefanpenner commented on #22
@kellyselden would you like to take a stab? I can provide more info if you are interested

[2015-08-26 14:07] stefanpenner commented on #23
Yup

[2015-08-26 14:29] rwjblue opened #24 "Add environment variable to override usage of `os.tmpDir()` in async-disk-cache."
Moving over from https://github.com/stefanpenner/async-disk-cache/issues/2.

This would allow us to utilize a known path as the cache location, and then we can utilize Travis caching to take advantage of warm boots in CI also.

I would like https://github.com/stefanpenner/broccoli-persistent-filter/blob/master/lib/strategies/persistent.js#L15-L17 to become:

[code]

The above would pass a `locatio

[2015-08-26 14:48] stefanpenner commented on #24
:+1:

[2015-08-26 17:43] rwjblue opened #26 "v1.0.5 seems to return `undefined` for every file."
[code]

[2015-08-26 17:46] rwjblue commented on #26
I believe that this is because https://github.com/stefanpenner/broccoli-persistent-filter/blob/7f1de507ed6d952daa8a21e2e67720b7f834b534/index.js#L221-L231 does not return the `outputString` (so it returns `undefined`).

[2015-08-26 17:48] rwjblue opened #27 "Add tests to confirm file contents when `persist: true` is set."

[2015-08-26 17:51] stefanpenner commented on #26
@rwjblue i totally tested this locally and all appeared fine... I blame NPM

[2015-08-26 17:54] #26 closed

[2015-08-26 17:54] rwjblue commented on #26
Published v1.0.6

[2015-08-26 17:56] stefanpenner commented on #26
thanks

[2015-08-26 17:56] stefanpenner commented on #26
more tests++

[2015-08-26 18:03] rwjblue commented on #26
Released v1.0.7 with https://github.com/stefanpenner/broccoli-persistent-filter/commit/6a15d52b83fd2ee798eb3843201363dd02520e3d

[2015-08-26 18:15] kellyselden commented on #22
@stefanpenner Yea I can take a stab.

[2015-08-26 19:06] stefanpenner commented on #22
Already fixed

[2015-08-26 19:06] #22 closed

[2015-08-26 19:08] kellyselden commented on #22
darn

[2015-08-26 21:40] #24 closed

[2015-08-27 01:20] stefanpenner opened #29 "sometimes unlink in cache fails..."

[2015-09-21 04:23] #29 closed

[2015-09-21 04:24] stefanpenner opened #33 "add concept for writing multiple files for one input"
basically to support writing `.map` files

It is possible today, but with hacks. It would be nicer if it was less hacky.

[2015-10-28 17:51] stefanpenner opened #37 "EEXIST: file already exists, symlink"
working on a fix ...

[code]

[2015-10-28 18:05] #37 closed

[2015-10-28 19:38] SaladFork opened #38 "ENOENT: no such file or directory"
Following the recent updates, rebuilds now seem to be broken in my ember-cli app after a `nom`:

Output after changing a file (full path abbreviated to `…` for anonymity):
[code]

Mac OS X 10.11.1 with Ember CLI 1.13.8.

[2015-10-28 19:42] stefanpenner commented on #38
Strange, its strange to see: "file changed helpers/in-array.js" but then no corresponding file to remove.

I am inclined to believe there is something funky going on with jscs/suave

[2015-10-28 19:56] stefanpenner commented on #38
found it, the recent persistent-filter changes fail to take target-extension into account.

[2015-10-28 19:56] SaladFork commented on #38
:smiley: :+1:

[2015-10-28 20:07] #38 closed

[2015-10-28 20:07] stefanpenner commented on #38
➜  broccoli-persistent-filter git:(master) npm publish
+ broccoli-persistent-filter@1.1.3

[2015-10-28 20:07] stefanpenner commented on #38
running to a meeting, will write a test and re-release when im back.

[2015-10-28 20:13] toranb commented on #38
Thanks for the quick work on this!

[2015-10-28 21:28] toranb commented on #38
@stefanpenner I did find this issue is still present w/ 1.1.3 when using both ember s and ember t -s together

[2015-10-28 21:46] stefanpenner commented on #38
might be a different issue then.

[2015-10-28 21:48] stefanpenner commented on #38
@toranb can you share a repro/detailed steps ?

[2015-10-28 21:49] toranb commented on #38
@stefanpenner I'll need to try this on a much smaller project (i'll report back tonight if I can repro this w/out my production app)

[2015-10-28 21:51] stefanpenner commented on #38
@toranb im trying to replicate on our apps, but am unable to. Maybe im missing some key thing. Anwyays, feel free to open a new issue

[2015-11-02 17:51] stefanpenner opened #41 "docs"

[2015-11-06 17:38] stefanpenner opened #42 "issue with renames"
investigating..

[2015-11-06 18:42] #42 closed

[2016-02-03 17:17] shaunc opened #45 "test errors w/ hash-for-dep"
[Without using new hash-for-dep], I get the following errors on test (below).

They can be repaired by replacing

    F.prototype.baseDir = function() {
      return '../';

With

    var path = require('path');

    F.prototype.baseDir = function() {
      return path.join(__dirname, '../');

I'll submit a patch in a second... however I have no idea what changed/is different about my env (macosx

[2016-02-03 19:36] stefanpenner commented on #45
thanks for fixing

[2016-02-03 19:36] #45 closed

[2016-04-16 19:00] davewasmer commented on #33
@stefanpenner any chance you could point me towards these hacks? Would be super useful for [broccoli-favicon](https://github.com/davewasmer/broccoli-favicon) (which in turn powers [ember-cli-favicon](https://github.com/davewasmer/ember-cli-favicon))

[2016-08-04 00:47] stefanpenner opened #70 "This project appears to introduce 965 files via itself and its deps"
## own files we may not want:
## deps we may want to investigate:
- [ ] async-disk-cache 155
- [ ] blank-object 8
- [ ] broccoli-plugin 274
- [ ] debug 20
- [ ] fs-tree-diff 67
- [ ] hash-for-dep 258
- [ ] md5-hex 17
- [ ] mkdirp 45
- [ ] promise-map-series 9
- [ ] rsvp 40
- [ ] symlink-or-copy 11
- [ ] walk-sync 48

[2016-08-08 17:12] stefanpenner opened #74 "make it easy to step out of the persistent cache strategy."

[2016-08-18 18:27] huiyuan opened #77 "Logging may no longer work"
`DEBUG=broccoli* ember s`a no longer yields  broccoli-persistent-filter logging.

[2016-08-18 21:01] stefanpenner commented on #77
It appears this repo now relies on `DEBUG_LEVEL=debug` to print info. I believe we did this by mistake and `DEBUG_LEVEL=info` should actually provide atleast some-feedback.

We will fix

[2016-08-18 21:01] stefanpenner commented on #77
cc @hjdivad

[2016-08-18 22:41] #77 closed

[2016-08-18 22:41] stefanpenner commented on #77
latest should address this issue

[2016-08-19 20:49] hjdivad commented on #77
@huiyuan it's just as @stefanpenner said.  The logging in persistent-filter 1.2.9 is all at log level `DEBUG` so `DEBUG=broccoli* DEBUG_LEVEL=debug ember s` will get you the detailed logging.  1.2.10 adds some more coarse grained logging at the default `DEBUG_LEVEL` of `info`.

[2016-09-27 19:40] krisselden opened #81 "Pass name and annotation through to Plugin constructor"

[2016-11-27 08:53] davewasmer opened #86 "Document limitations in Readme"
The readme mentions that the persistent cache does not work "on all systems":

As tooling author, I'm trying to decide (a) whether I need to expose this option to my consumers, and (b) if so, when to recommend they disable the persistent cache.

A quick note about what systems have trouble would be helpful here. Doesn't need to be super detailed if that information doesn't exist - even just a "fla

[2016-11-27 23:04] stefanpenner commented on #86
ya, I'm not sure what this means either. It should work fine on all systems, but maybe not for all use-cases? For example, if a adequate cache-key cannot be created, then it should not be used.

[2016-11-27 23:07] stefanpenner commented on #86
https://github.com/stefanpenner/broccoli-persistent-filter/pull/87 maybe?

[2016-11-27 23:08] davewasmer commented on #86
Makes sense

[2016-11-27 23:12] #86 closed

[2016-12-03 09:44] stefanpenner opened #88 "consider `create` "deopting" to unlink + link"
more: https://github.com/ember-cli/ember-cli/issues/5336#issuecomment-264629002

idea:

[code]
----

This would preserve the existing "optimistic" performance semantics, gambling that it is more common to no need to replace on `create`. But there are legitimate cases where this is required, so we should actually handle it.

[2016-12-03 10:29] stefanpenner commented on #88
ah, this may be trickier. As we would need to resurrect the old file, if the shadowing file is later again removed.  This will require some of the file dep/causal tracking stuff we have been discussing to get right.

[2016-12-29 02:46] #81 closed

[2017-01-09 08:51] kyleshrader commented on #23
Was this functionality ever implemented?

[2017-01-09 15:34] #23 closed

[2017-01-19 12:55] DimaMklk commented on #38
Hello. Not sure that my issue is the same, but it is very similar. After I save any file `ember server` as well as `ember build -w` is crashing. Project is on going and it's a little bit old

Ubuntu 16.10

node@0.12.18
npm@2.15.11

ember@1.9.1
ember-cli@0.1.12

[code]
`npm ls --depth=0`
[code]
`bower ls`
[code]

[2017-01-19 16:47] hjdivad commented on #38
@DimaMklk

What's the output of `npm ls fs-tree-diff`?

Yup that's a bit old.

[2017-01-19 22:22] DimaMklk commented on #38
@hjdivad
here is output of `npm ls fs-tree-diff` :
[code]

[2017-01-23 21:29] hjdivad commented on #38
@DimaMklk those versions look good to me.

Are you able to reproduce this problem easily in a new repo?

Alternatively is this project publicly accessible and easy to reproduce the error in?

[2017-01-24 14:50] DimaMklk commented on #38
@hjdivad, thanks for the reply.
I solved the problem by locking module `ember-export-application-global` to version `1.0.0`.

I deleted the message, so I leave here the error, in case someone else will need some help with it.
[code]

[2017-01-29 00:37] MiLk opened #95 "Documentation for BROCCOLI_PERSISTENT_FILTER_CACHE_ROOT"
Can we add `BROCCOLI_PERSISTENT_FILTER_CACHE_ROOT` to the README?

It would be easier to find a solution when https://github.com/stefanpenner/async-disk-cache/issues/35 happens.
Unfortunately, I didn't see anything in the ember documentation which could point to that issue and indicate how to not have that issue happen.

[2017-01-29 01:02] rwjblue commented on #95
Would love a PR adding documentation for it!

[2017-01-29 01:13] MiLk commented on #95
I never used ember, I'm just managing the servers for the developers at my company.
Could you explain me the purpose of this cache, so that I can write meaningful documentation (it's not even clear for me what broccoli-persistent-filter is doing)?

[2017-01-29 02:26] rwjblue commented on #95
This package provides the ability to perform caching between one `ember build` / `ember serve` / `ember test --server` and another. This dramatically speeds up development by reducing the time it takes from one build to another.

[2017-01-30 17:26] stefanpenner commented on #95
@rwjblue it may make more sense to document purging all async-disk cache's. As anything using them may be affected.

We need to warn, that if a persistent cache is purge while some other process is using it. Sad things may happen...

[2017-02-22 13:41] Turbo87 opened #97 "Unable to recover from initial errors"
see https://github.com/ember-cli/ember-cli/issues/6264

[2017-03-10 21:30] #95 closed

[2017-03-13 18:17] leizhao4 opened #101 "`async-disk-cache` 1.2.1 breaks Node 0.12 compatibility"
Some addons (like [ember-cli-deploy-build](https://github.com/ember-cli-deploy/ember-cli-deploy-build/pull/35) and [torii](https://github.com/Vestorly/torii/pull/322)) are depending on `broccoli-persistent-filter` and are still supporting Node 0.12 for some reason.

Is it a good idea to release a version of `broccoli-persistent-filter` which point to `async-disk-cache` <=1.2.0? Or should those add

[2017-03-13 18:53] stefanpenner commented on #101
Just a heads-up node 0.12 is no longer maintained by the node folks, although it is not the intention to have broken anyone. It is a tad tricky to support non-supported versions.

Node's Long-term support policy is outlined here: https://github.com/nodejs/LTS

[2017-03-20 20:42] #101 closed

[2017-03-26 00:31] stefanpenner commented on #101
I also worked-around the 0.12 node support issue https://github.com/stefanpenner/async-disk-cache/pull/45

[2017-03-30 20:27] arthirm opened #105 "Step through the entries of projection when applying patch."
If the entry in patch has a projection (which will be if file/dir is symlinked), step through the entries of projection to find if the file needs to be processed rather than symlinking it directly to the output.

[2017-04-27 15:59] #70 closed

[2017-04-27 15:59] #27 closed

[2017-04-27 15:59] #33 closed

[2017-04-27 16:00] stefanpenner commented on #33
We will revist this as another plugin likely. It will require a different API (most likely)

[2017-04-27 16:00] #88 closed

[2017-04-27 16:12] #97 closed

[2017-05-30 15:33] greenkeeper[bot] opened #112 "An in-range update of walk-sync is breaking the build 🚨"
## Version **0.3.2** of [walk-sync](https://github.com/joliss/node-walk-sync) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stefanpenner/broccoli-persistent-filter/compare/greenkeeper%2Fwalk-sync-0.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      walk-sync
    </td>
  </tr>
  <t

[2017-07-24 14:27] acgrama opened #122 "Unexpected token on spread operator after update to ember-cli 2.14"
I am working on a bigger app that has been running smoothly for more than a year. Currently we have ember-cli 2.12 as dependency, everything works ok.

As soon as I switch to ember-cli 2.14 from 2.12, I am getting this error:

[code]

Any ideas what could be the problem? Thanks!

(I have babel-plugin-transform-object-rest-spread and babel-plugin-transform-es2015-destructuring installed as dependen

[2017-07-24 17:46] rwjblue commented on #122
The README of [ember-cli-babel](https://github.com/babel/ember-cli-babel) specifically describes how to add the rest/spread support with ember-cli-babel@6.  Please take a look over there, and let me know if that doesn't resolve the issue.

I'm going to close this issue (we can open a more specific one in ember-cli-babel repo if needed).

[2017-07-24 17:46] #122 closed

[2017-07-25 08:36] acgrama commented on #122
I've added the transform-object-rest-spread plugin as suggested by the readme:
[code]

Now I am getting this error:

[code]

Not sure if I'm doing it right, but didn't solve my issue. Do you need any other information from me, like installed versions, etc.?

[2017-08-08 02:04] workmanw opened #124 "Parallel builds with similar apps and deps can cause crashes"
With @rwjblue's help, I discovered that building two of my apps in parallel can cause a crash related to `broccoli-persistent-filter`. Here is an example stack:

[code]

We determined the cause was related to `stefanpenner/async-disk-cache`s use of the system temp directory. The two applications are separate apps (in separate directories), but they are similar in size and almost identical in depen

[2017-08-08 02:09] rwjblue commented on #124
Thank you for reporting! I believe we were aware (generally speaking) that a race could occur here. We should try add in some more resiliency to ensure that cross-process caching does not fail the build. I believe that in the worst case scenario, we should just opt out of caching and recalculate.

@stefanpenner - Thoughts?

[2017-08-08 10:56] workmanw commented on #124
One other relevant note is that I realized that in my case it's also possible for the exact same app [w/ same deps] to be building multiple times in parallel in different folders. Basically if the same commit ends up on multiple branches that are being tracked by CI, it could end up building them both at the same time.

[2017-08-08 17:15] stefanpenner commented on #124
building the same project (exact some on-disk files/deps etc) more then once concurrently isn't really something we support. At-least not with a persistent cache... It is possible to support this, but It would come at either a complexity and/or performance cost to the regular case.

It might be a good idea to have your CI box limit its concurrency somewhat, or concurrent tasks (like building) will

[2017-08-08 18:12] workmanw commented on #124
@stefanpenner I'm :+1: for making it an option. I know most people run their builds in a containerized service  (Travis, etc) and that makes us in the minority here.

----------

To be clear, it's the same project/deps but on a different branch in a different cloned instance of the repo (and thus in a different directory). A single GitHub post hook can trigger both builds, so they end up running s

[2017-08-09 00:48] stefanpenner commented on #124
Something seems fishy then, because the cached files should have different mtime/atimes and then ultimately not collide...

I'm assuming you come to this issue via BroccoliPersistentFilter ?

[2017-08-09 01:45] workmanw commented on #124
@stefanpenner One point of interest is that it only ever seemed to happen on prod builds (w/ fingerprinting). I don't know if that's relevant or not.

I'm happy to help in any way I can. We could do a screen hero if you want. But honestly I don't want to suck up your time if I'm the only one experiencing this. And the debugging is not super pleasant because it's all over SSH. That said, I'm always

[2017-08-13 17:11] blimmer opened #127 "Crypto dependency warning"
[code]

[2017-08-13 18:03] rwjblue commented on #127
Thanks for opening. I was also questioning if we needed this package in one of the open PR's.

Would you mind submitting a PR to remove?

[2017-08-15 15:43] #127 closed

[2017-11-06 23:14] eventualbuddha opened #135 "Consider dropping support for node v0.12"
It's making [updating dependencies](https://github.com/stefanpenner/broccoli-persistent-filter/pull/134) impossible/hard. There's a pretty good chance it doesn't work out of the box on v0.12 anyway, and Appveyor doesn't run with it (only 4, 6, and 7 right now). I think we should be testing against 4, 6, 8, and 9. Possibly even just 6, 8, and 9.

[2017-11-07 15:14] rwjblue commented on #135
Agreed, we should bump and drop 0.12 support.

ember-cli supports all supported LTS versions, so we should go with 4, 6, 8, and 9.

[2017-11-13 23:47] krisselden opened #139 "outputEncoding = null does not work anymore"

[2018-01-11 16:16] jeffsheets commented on #23
ran into an issue where i could use this too. What is the current easiest way to clear the persistent cache folders?

[2018-01-11 16:28] jeffsheets commented on #23
For anyone else that stumbles upon this, I cleared it manually for me by going into node_modules/broccoli-persistent-filter/lib/strategies/persistent.js and adding a `this._cache.clear();` at the end of the init function after this._cache is initialized. And then removing it....

[2018-01-12 15:55] telmaantunes commented on #122
solution?

[2018-02-15 04:59] greenkeeper[bot] opened #141 "An in-range update of symlink-or-copy is breaking the build 🚨"
## Version **1.2.0** of [symlink-or-copy](https://github.com/broccolijs/node-symlink-or-copy) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stefanpenner/broccoli-persistent-filter/compare/greenkeeper%2Fsymlink-or-copy-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      symlink-or

[2018-03-15 18:11] joliss opened #143 "broccoli-persistent-filter overwrites source files"
I discovered that under certain conditions, when the input node contains two conflicting files like `file.js` and `file.coffee`, broccoli-persistent-filter will overwrite files in the source directory. I'm not sure if the culprit is broccoli-persistent-filter or fs-tree-diff, so instead of writing a test case I just created a sample repo for now. To reproduce this issue, run:

[code]

Then in a ne

[2018-05-17 11:03] greenkeeper[bot] opened #144 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/stefanpenner/broccoli-persistent-filter/compare/master...stefanpenner:gree

[2018-05-25 15:55] #144 closed

[2018-05-25 15:55] stefanpenner commented on #143
interesting...

[2018-05-25 15:56] #141 closed

[2018-05-25 15:56] #135 closed

[2018-05-25 15:56] #105 closed

[2018-05-25 15:56] #112 closed

[2018-10-10 03:28] xbmono commented on #124
when I run unit tests in my Ember app in parallel, even if they are in separate workspace so no shared folder, I get this error, I wonder if this is related:

[code]

[2018-10-10 06:19] stefanpenner commented on #124
@xbmono yes, we can fix this by changing the cache key to consider the full path of the workspace.

[2018-10-10 06:44] xbmono commented on #124
@stefanpenner thanks it worked :)

[2018-11-27 10:59] Turbo87 opened #152 "Changelog is outdated"
@stefanpenner what changed since v1.2.11?

[2019-01-24 13:20] synaptiko commented on #124
We use monorepo for our ember addons and apps and we use `lerna` to manage it. Until recently we were running commands in series but we wanted to make running tests faster so we experimented with lerna's parallelism but after few attempts we started having the error described here.

I think such a fix would be good enough while keeping the advantage of persistent cache.

Would you reconsider your

[2019-01-24 14:03] rwjblue commented on #124
@synaptiko

Environment variables can easily be set in `ember-cli-build.js`:

[code]

I'm not sure how to interpret this. Are you saying that @stefanpenner's suggestion would work or would not work? As far as I can tell his suggestion would solve the specific problem reported (amongst others), and we would gladly review/accept pull requests to implement. What do we need to reconsider?

[2019-01-24 14:40] synaptiko commented on #124
Thanks for the tip, I wasn't aware of this method.

I think that if the full path is part of the cache key then there won't be any race condition which means it would fix both CI use-case and monorepo commands running in parallel.

I wanted you to reconsider the method of the caching mechanism.

[2019-02-11 18:15] stefanpenner opened #154 "Add typescript types"

[2019-02-20 21:05] stefanpenner commented on #143
I see the issue:

1. build one
2.`src/file.js` is sylinked to `outputPath/src/file.js`
3. build two
4.`src/file.coffee`'s output is written to  `outputPath/src/file.js`, unfortunately `outputPath/src/file.js` is a symlink back to `src/file.js`

[2019-02-20 21:07] stefanpenner commented on #143
The solution I believe is:

`_handleFile` should keep track of symlinks it created, and if they end up being overridden later they are first unlinked.

[2019-02-20 22:33] #143 closed

[2019-02-20 22:38] stefanpenner commented on #152
updated recent versions, will stay diligent going forward

[2019-02-20 22:38] #152 closed

[2019-02-20 22:38] #74 closed

[2019-02-20 22:39] #41 closed

[2019-02-21 00:46] stefanpenner commented on #143
thanks for reporting, sorry for lingering.

[2019-02-21 11:50] theoldcounty opened #160 "broccoli-persistent-filter - childprocess fail"
Build Canceled: Broccoli Builder ran into an error with `broccoli-persistent-filter:Babel > [Babel: ember-lodash]` plugin. 💥
Worker terminated unexpectedly
Error: Worker terminated unexpectedly
    at ChildProcess.<anonymous> (/opt/home/jenkins/workspace/_CORE-2815_wrong-question-for-US/site/src/ember/node_modules/workerpool/lib/WorkerHandler.js:181:17)
    at emitTwo (events.js:106:13)
    at Chi

[2019-02-21 14:27] stefanpenner commented on #160
broccoli-persistent-filter doesn’t provide workers. This error seems strange and likely incomplete.

Can you please include version of node, and the plugin causing issues. Ideally also a reproduction, as is this isn’t actionable yet.

[2019-02-22 13:03] theoldcounty commented on #160
still getting the error.
I believe the node version is v6.14.3 or v6.11.0 (this is what I think failed on Jenkins)

microplugin#0.0.3 bower_components/microplugin
:site:emberBuild Canceled: Broccoli Builder ran into an error with `broccoli-persistent-filter:Babel > [Babel: ember-lodash]` plugin. 💥
Worker terminated unexpectedly
Error: Worker terminated unexpectedly
    at ChildProcess.<anonymous>

[2019-02-22 14:47] stefanpenner commented on #160
Can you share the version of ember-lodash?

[2019-03-07 10:57] theoldcounty commented on #160
this has failed again after the update - again - please stop

[code]

[2019-03-07 15:27] stefanpenner commented on #160
@theoldcountry as a workaround can you set the environment variable JOBS=1? That should disable the use of workers as we debug this issue.

[2019-03-11 10:16] theoldcounty commented on #160
I don't have access to devops. This is breaking builds globally.

[code]

[2019-03-11 19:49] stefanpenner commented on #160
@theoldcounty  it is not our intention to break anything. As our CI is passing, the issue seems to be pretty unexpected. Although this is understandably annoying, have some patience I will debug shortly.

[2019-03-11 20:42] stefanpenner commented on #160
@theoldcounty as asked above could you:

* Can you share the version of ember-lodash?
* Can you share the version of workerpool?

[2019-03-11 20:43] stefanpenner commented on #160
Could you also include the version of ember-cli-tooltipster ?

[2019-03-11 22:18] stefanpenner commented on #160
Interestingly, while debugging this I am able to reproduce a similar error when:

* running more then 1 workerpool
* starting with a debugger

The error in question, is actually due to the child processes both being told to bind to the same inspector port.

I doubt your jenkins runs are starting processes with a debugger enabled... so the above may not be your issue. But I'll see if we can at-leas

[2019-03-11 22:23] stefanpenner commented on #160
I think we can get the exitStatus code at-least printed. That way, we can surface why the process exited unexpectedly.

In my case, I am getting `exit(12)` which is coming from: https://github.com/nodejs/node/blob/2e2670a2073c89d700ab274a47bb0e6036046e65/src/node.cc#L574

[2019-03-11 22:38] stefanpenner commented on #160
I've opened a PR on workerpool, to surface additional information when process's exit unexpectedly: https://github.com/josdejong/workerpool/pull/58

[2019-03-12 03:47] stefanpenner commented on #160
I'm still not quite sure what is causing your issue, as I doubt you are enabling the debug port in CI (but maybe you are?)

Anyways, in the meantime I have submitted a fix to workerpool for  the issue \w a debugger and multiple pools which results in Worker Exited Unexpectedly error: https://github.com/josdejong/workerpool/pull/60

[2019-04-07 16:25] greenkeeper[bot] opened #163 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.0.2` to `6.1.0`.

🚨 [View failing branch](https://github.com/stefanpenner/broccoli-persistent-filter/compare/master...stefanpenner:greenkeeper%2Fmocha-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this p

[2019-05-16 19:54] lifeart opened #166 "Prevent inconsistent ember-cli builds with different extensions"
Maybe this is correct place for this issues collection, if not, feel free to close it or redirect me to proper repo.

https://github.com/ember-cli/ember-ajax/issues/428
https://github.com/typed-ember/ember-cli-typescript/issues/724
https://github.com/babel/ember-cli-babel/issues/240

[2019-05-17 01:13] chriseppstein opened #167 "cacheKeyProcessString does not invalidate across rebuilds."
The `cacheKeyProcessString()` method allows an addon to provide invalidation on a per-file basis, but this invalidation only occurs when performing the initial build against the persistent cache.

The logic for cache invalidation should not depend on which cache is being accessed.

I propose that the cache key value is added to the fs tree entries so that if the key changes, fs-tree-diff considers

[2019-05-31 21:50] stefanpenner commented on #166
I haven't had a chance to look at this yet, but seems important. If you have free time to provide a failing test, that would very much help me.

[2019-05-31 21:50] #163 closed

[2019-06-06 17:34] yashhy commented on #122
@telmaantunes Thanks a lot.  Was facing this issue for one whole day 🗡

[2019-06-18 22:24] rafael-paiva opened #169 "Worker is terminated"
We're having the following build error since yesterday. I'm not able to reproduce locally yet but it fails on our CI when running `ember test`. I've tried many different things but the error persists. This is blocking our builds so any help would be much appreciated.

Note that this time it mentioned 'ember-data-copyable' but sometimes it mentions a different dependency so not sure if that's relev

[2019-06-19 14:53] stefanpenner commented on #169
We’ve been trying to improve the error messages that come out of workerpool.

Could you share the version of workerpool that is being pulled in?

Also, to debug this further please set the environment variable JOBS=1. That should run the worker code in the main thread and potentially provide a more useful stacktrace.

[2019-06-19 18:36] rafael-paiva commented on #169
Actually, after setting the environment variable JOBS=1 it worked 🎉

Looks like there's an [issue](https://github.com/emberjs/ember.js/issues/15641) with parallelism added to broccoli-babel-transpiler and the fix is to set the JOBS environment variable to 1 to essentially disable the parallelism on CI.

Thanks @stefanpenner for getting back to me on this!

References:
https://github.com/emberjs/em

[2019-06-19 18:59] stefanpenner commented on #169
@rafael-paiva well, I wouldn't consider that fixed. Maybe a work-around.

Do you have a reproduction?

[2019-06-19 19:18] rafael-paiva commented on #169
Right, I needed at least a quick work around to unblock my builds.

@stefanpenner like I said I can't even reproduce this on my local env, it only fails on CI so I assumed it had something to do with this parallelism [issue](https://github.com/emberjs/ember.js/issues/15641) on CIs. Although I'm not sure why it started happening now. I don't know what else information I can give you. If you can gui

[2019-06-27 16:20] CrshOverride commented on #124
@stefanpenner I just hit this issue when trying to build a single app on Windows using WSL 2. The same workaround applies.

[2019-07-08 22:57] chriseppstein commented on #167
Fixed by #168.

[2019-07-08 22:57] #167 closed

[2019-07-31 13:38] dfreeman commented on #166
@stefanpenner I'm not sure the best way to write a thorough test for this, since the issue is nondeterminism. As far as I know this same issue applies to the core `broccoli-filter` plugin as well.

If I write a plugin like this:

[code]

And then run that over a directory that has both `my-file.foo` and `my-file.bar` in it, whether the resulting `my-file.txt` contains `foo` or `bar` depends on the

[2019-08-01 16:32] buschtoens opened #172 "Rejecting / Excluding Files | broccoli-funnel"
Now that we have Dependency Tracking #168, this plugin becomes much more interesting for bundler-liker build scenarios, where `n` files get merged into 1 or fewer than `n` files.

It would be nice, if `broccoli-persistent-filter` could add a hook to reject a file from the build (similar to `getDestFilePath`), removing the need for a subsequent [`broccoli-funnel`](https://github.com/broccolijs/broc

[2019-08-02 03:18] stefanpenner commented on #172
And this is specifically to reject/exclude input files right?

[2019-08-02 19:29] SparshithNR commented on #172
I am trying to integrate the https://github.com/SparshithNR/fs-merger, so that `broccoli-persistent-filter` will accept `n` tress/paths as input and process it and put it to the output path. This will avoid the funneling/merging multiple trees before sending it as an input to the `broccoli-persistent-filter`.
Something like
[code]
Here `nodes` are the list of trees or inputPaths from previous step

[2019-09-01 19:20] buschtoens commented on #33
Has such a plugin, that is not specific to `.map` files, been written yet?

My use case: I transform certain custom functions in `.css` files to [`var()`](https://developer.mozilla.org/en-US/docs/Web/CSS/var) and want to save the meta information, e.g. which functions have been transformed with what selectors in a `.json` file, for a later processing stage.

For this, I could ideally return more t

[2019-09-01 19:24] buschtoens commented on #33
Seems like [`broccoli-multifilter`](https://github.com/broccolijs/broccoli-multifilter) is exactly what I'm after. AFAICT it makes the same cahing guarantees as `broccoli-persistent-filter`. 😊

[2019-09-24 14:23] Elberet opened #176 "Use glob expression as file dependency"
I'm using *broccoli-babel-transpiler* with a bunch of custom Babel plugins. Among other things, these include a wildcard module resolver to allow for things such as `import "tests/**/*.spec"` - in other words, my source file depends on a glob expression, not a single file. When a new test is added to the project, or when a test file is removed, the source file containing the wildcard import (presu

[2019-11-19 22:09] runspired commented on #166
This might be the underlying reason for https://github.com/emberjs/data/issues/6697

[2019-12-05 14:43] stefanpenner opened #184 "Upgrade promise-map-series to async/await version once ready"
https://github.com/joliss/promise-map-series/issues/9

[2019-12-05 14:44] stefanpenner opened #185 "move to broccoli org?"
@rwjblue  / @SparshithNR  / @Turbo87 / @oligriffiths any thoughts/ concerns?

[2019-12-05 14:46] Turbo87 commented on #185
do it! 😉

[2019-12-05 15:01] stefanpenner commented on #185
done

[2019-12-05 15:01] #185 closed

[2019-12-05 15:17] rwjblue commented on #185
🕺 🤸‍♀

[2020-01-20 13:06] lolmaus commented on #166
This issue hits us really hard on all our TypeScript projects.

We can work around it with our own addons, but there's nothing we can do with third-party addons, other than forking them. 😕

Due to this issue, `ember-cli-typescript` randomly fails to override services from infrastructural addons such as `ember-intl`, `ember-simple-auth`. The app would crash for some developers with an error that gi

[2020-01-22 23:27] rwjblue commented on #166
No, not to my knowledge

[2020-04-20 14:30] chriskrycho commented on #166
We've [worked around this in ember-cli-typescript](https://github.com/typed-ember/ember-cli-typescript/commit/0fc2a0b504653bea66eb34d7f235a602cfcedc5c) using broccoli-stew's `afterBuild` hook, but it's not great (and may have performance implications?). What would a solution here actually look like?

[2020-05-11 23:56] #154 closed

[2020-05-12 04:35] chriseppstein commented on #176
I wrote the dependency invalidation feature. I think this would be a good feature to add. I'm happy to review your PR if you still want to make one up.

[2020-05-12 04:46] chriseppstein commented on #172
@stefanpenner It seems to me that what is being requested is an option that causes only files processed by the filter to pass through to the output tree. @buschtoens is that sufficient?

[2020-05-19 14:38] nightire opened #194 "`dependencyInvalidation` and `concurrency` should not be required"
Shall we mark these two options as optional as well?

https://github.com/broccolijs/broccoli-persistent-filter/blob/8e939164bcb95bcbf99b1fcd72dd457dc6e0542f/index.ts#L134-L135

I'm writing a subclass based on the `broccoli-persistent-filter` in TypeScript, by now, calling `super(node, options)` in the `constructor` will cause an unfixable type error:

![image](https://user-images.githubusercontent

[2020-05-19 14:40] nightire commented on #194
If my understanding is correct, I can make a patch PR right away.

[2020-05-19 20:29] rwjblue commented on #194
Ya, I think you are correct.

[2020-05-20 15:08] #194 closed

[2020-05-26 15:44] vitch commented on #172
@chriseppstein @stefanpenner - I've come across this issue as I am just starting to use `broccoli-persistent-filter` and I have a need to do just that.

I guess I could funnel beforehand but I *do* want some of the other files to be in the tree/ watched as I need to read from them in `processString` and include information from them in the output file (I'm still working on it but I'm planning to u

[2020-05-27 20:36] chriseppstein commented on #172
@vitch Yeah, I think you'd have to funnel after filtering in that case, it's a little extra work, but not a ton (the files are just symlinked).

[2020-05-27 21:17] chriseppstein opened #196 "Typescript issues with 3.0 release."
Typescript is picking up the `.ts` files in the package instead of the `.d.ts` files because they're all in the same directory together. This causes the packages that don't have types to become errors in projects that have `noImplicitAny` set to `true` (The rules in a `.d.ts` file are different with respect to `noImplicitAny` -  it's not enforced there).

I know you don't like it, but it seems lik

[2020-05-27 21:41] chriseppstein opened #197 "Node 10 doesn't support recursive directory operations."
So the 3.0 release has a bug in node 10 that evidently isn't covered by the test cases.

This project is using `@types/node`@`^13` which didn't flag this as an issue. (I recommend we downgrade to `^10`).

According to the node.js docs, [recursive rmdir was added in 12.10.0](https://nodejs.org/dist/latest-v12.x/docs/api/fs.html#fs_fs_rmdirsync_path_options).

The API is used here: https://github.co

[2020-05-28 00:30] rwjblue commented on #197
Oiy. Good catch @chriseppstein. I think properly configuring `eslint-plugin-node` would help catch these kinds things too.

[2020-05-28 00:40] rwjblue commented on #196
This seems _roughly_ the same as what is described in https://github.com/stefanpenner/fs-tree-diff/issues/93 right?

[2020-05-28 01:12] SparshithNR commented on #197
@chriseppstein I noticed this when I added this functionality to `this.output`.
So for now if we set `recursive=true`, I fall back to `removeSync` from `fs-extra`
You can find it `broccoli-output-wrapper`.

https://github.com/SparshithNR/broccoli-output-wrapper/blob/27e307db9d5fb633d1676a43e4b87b1e0d416963/src/index.ts#L51-L53

`mkdirSync` has `recursive` support from node10 onwards.

[2020-05-28 03:41] chriseppstein commented on #197
@SparshithNR Aha! That explains why there wasn't an error.

So the issue then is just with the types in `broccoli-output-wrapper` which declares that it's using the node.fs interface when it actually has slightly different support and generates an error when using `@types/node`@`10`. I'll file a bug against that repo.

[2020-05-28 03:54] chriseppstein commented on #196
Yeah. Same thing. I think it's fine to publish `*.ts` files, but they just need to be in a different directory.

[2020-06-07 03:12] NullVoxPopuli opened #200 "Build Error (OneShot)"
This is a new one to me, and I don't even know if this is the right repo to report this issue on?

[code]
from ci log: https://github.com/NullVoxPopuli/emberclear/pull/922/checks?check_run_id=746347841

on this branch: https://github.com/NullVoxPopuli/emberclear/pull/922
(using v4-alpha ember-cli-typescript and embroider 0.19.0)

maybe cc @chriskrycho and @ef4?
maaaybe related? https://github.com/

[2020-06-17 19:50] ef4 commented on #200
This looks like an embroider issue. Not related to broccoli-persistent-filter. This issue can be closed.

Most likely you can work around the problem by setting the environment variable `JOBS=1`. But please file an embroider bug.

[2020-06-17 20:43] #200 closed

[2020-06-24 01:32] stefanpenner commented on #196
This is unfortunate, but seems like the most pragmatic approach

[2020-06-25 16:40] stefanpenner opened #202 "Switch to GH Actions"
- [ ] linux
- [ ] osx
- [ ] windows

[2020-06-25 16:42] #196 closed

[2020-07-24 17:43] #197 closed

[2020-09-15 14:58] Kilowhisky opened #206 "broccoli-persistent-filter:babel random error in windows"
In my ember project in windows i keep getting random instances of the error on build or rebuild of my project. This usually goes away if i edit a file and cause a rebuilt to trigger. Its been happening for a bit of time now but since there has always been a workaround of just forcing a rebuild i've been ignoring it.

Its now preventing me from packaging due to the high chance of failure.  I'm not

[2020-10-27 19:21] nicolekc opened #208 ""unexpected end of file" can persist from corrupted build and there is no discoverable way to force rebuild"
Hi all, I have been using this (unknowingly until yesterday 😉) through `ember build`.

Sometimes, the build (or `ember serve`) appears to hang and I will CTRL+C the process to get past it without waiting.

When that is done, sometimes a broccoli-persistent-filter cache write can be cut off in the middle of writing and then produces a corrupted result, and get an error like this:

[code]

The probl

[2021-05-18 15:11] knownasilya commented on #166
Still an issue today. Does Embroider v2 package format remove this problem?

[2021-07-03 11:29] nielsrask commented on #206
I'm experiencing the exact same thing.

`Build Error (broccoli-persistent-filter:Babel > [Babel: dentsure-frontend]) in dentsure-frontend/adapters/application.js

EPERM: operation not permitted, unlink 'C:\Users\n_ras\AppData\Local\Temp\canLinkSrc.tmp'`

`  "devDependencies": {
    "@ember/optional-features": "^2.0.0",
    "base64-js": "^1.3.1",
    "broccoli-asset-rev": "^2.4.5",
    "css-element

[2021-07-03 12:26] Kilowhisky commented on #206
So I never ended up fixing this. The only solution was to stop developing in windows and instead use WSL. See instructions at the end of the thread here. https://github.com/ember-cli/ember-cli/issues/7156

[2022-08-21 13:31] rwjblue opened #220 "Bring back Windows CI..."
Disabled in #219 (due to failures that seem specifically related ot the test harness not reality)